
/*body*/
body{
  margin-top: 7em;
}
/*Navigation bar*/
nav.navbar.navbar-default.navbar-fixed-top {
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
  color:black;
}

a.dropdown-toggle{
  float:right;
}

#filter-head {
  text-decoration:none;
  margin:1em;
  color:black
}
#filter {
  margin: 2em 2em 5em 2em;
}

a.filter-emails {
  display:inline-block;
  border-style: solid;
  border-color:black;
  background-color:white;
  border-radius:0.2em;
  color:black;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin:2px;
}

/*Top Header*/

h1.top-header{
text-align: center;
color:white;
background:black;
}

input#term {
  border-color:black;
  height:2.3em;
}

.find-button {
border-style: solid;
border-color:black;
background-color:white;
border-radius:0.2em;
color:black;
text-decoration:none;
padding: 5px 10px 5px 10px;
margin-top: 3em;
}

/*Index page content*/

.index-body{
margin:2em 0em 3em 0em;
font-size: 20px;
}

.panel.panel-default{
margin-bottom:2.5em;
}

.show-button {
border-style: solid;
border-color:black;
background-color:white;
border-radius:0.2em;
color:black;
display:block;
text-decoration:none;
padding: 5px 10px 5px 10px;
margin-top: 3em;
}

.show-button:hover {
  border-style: solid;
  border-color:black;
  background-color:black;
  border-radius:0.2em;
  color:white;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin-top: 3em;
}

.show-button:active {
  border-style: solid;
  border-color:black;
  background-color:black;
  border-radius:0.2em;
  color:white;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin-top: 3em;
}

.show-button a{
  color:black;
}

/*Form Style*/
.form-button {
border-style: solid;
border-color:black;
background-color:white;
border-radius:0.2em;
color:black;
text-decoration:none;
padding: 5px 10px 5px 10px;
margin-top: 3em;
display:block;
width: 100%;
font-size:20px;
}

.form-button:hover {
  border-style: solid;
  border-color:black;
  background-color:black;
  border-radius:0.2em;
  color:white;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin-top: 3em;
  width: 100%;
  font-size: 20px;
}

.body-form {
height:500px;
}

.form-area {
  margin: 3em 3em 3em 3em;
}

.form-container {
  width:60%;
  margin: 0 auto;
}
/*Modal*/

.copy-button {
border-style: solid;
border-color:white;
background-color:red;
border-radius:0.2em;
color:white;
text-decoration:none;
padding: 5px 10px 5px 10px;
margin-top: 3em;
width:100%;
}

.copy-button:hover {
  border-style: solid;
  border-color:white;
  background-color:#FE5031;
  border-radius:0.2em;
  color:white;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin-top: 3em;
  width:100%;
}

.copy-button:active{
  border-style: solid;
  border-color:white;
  background-color:#FE5031;
  border-radius:0.2em;
  color:white;
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  margin-top: 3em;
  width:100%
}

.copy-button a{
  color:black;
}

.alert.alert-success.alert-dismissable {
  width:200px;
}

.modal-label {
  border-style: solid;
  border-color:black;
  border-radius:0.2em;
  color:black;
}

button.close {
  font-size:3em;
}

.modal-footer button.show-button {
  float:left;
}
