<!-- Email body partial is rendered through modal partial -->
<p>Tag:</p>
<h4>
  <%= @email.tag.name %>
</h4>
<div class="code-snippet">
    <pre class="code">
      <%= simple_format(@email.body) %>
    </pre>
    <input class="copy-button" type="button" value="copy">
</div>
<%= link_to 'Edit this Email', edit_email_path %>
