<!-- Email body partial is rendered through modal partial -->
<h4>
  <span class="glyphicon glyphicon-tag"></span> <%= @email.tag.name %>
</h4>
<div id="code-snippet" class="code-snippet">
    <span class="code">
      <%= simple_format(@email.body) %>
    </span>
    <div class="container" style="display:none;" id="myAlert">
       <div class="alert alert-success alert-dismissable" id="myAlert2">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <p>Success! Email copied to Clipboard</p>
       </div>
    </div>
    <button class="copy-button" onclick="alertBox()">Copy Email !</button>
</div>
