<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"><button type="button" class="close" aria-hidden="true">&times;</button></a>
        <h3 class="modal-heading">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Close</a>
      </div>
    </div>
  </div>
</div>
