<!-- Modal with cotent rendered by Ajax -->
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-target="#myModal" data-dismiss="modal">&times;</button>
        <h3 class="modal-heading">Header Title goes here</h3>
      </div>
      <div class="modal-body">
        <p>Body Paragraph Goes here</p>
      </div>
    </div>
  </div>
</div>
